body{
    margin:0;
    padding:0;
    height: 100vh;
    background: linear-gradient(lightgreen,gray);
    overflow: hidden;
}
.container{
    height: 600px;
    width: 700px; 
    margin: 50px auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 15px #333;
}
.container .slides{
    height:calc(20%-5px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom:4px; left:0;
}

.container .slides > img{
    height:  150px ; /*  100%; */
     width: 150px; /*calc(20%-5px); */
    border: 2px solid black;
    object-fit: cover;
    cursor: pointer;
}

.container .slides > img:hover{
    filter: grayscale();
}

.big-screen{
    width: cover;
    height: 400px;
    border: 4px solid red;
}

.big-screen > img{
    height:100%;
    width:100%;
    object-fit: cover;

}